// Here you can easily change your sites's layout.
article {
  text-align: center;
}
article > p {
  text-align: center !important;
}
nav {
  margin-bottom: 3em !important;
  text-align: left;
}
body > header {
  margin-bottom: 1.5em !important;
  text-align: left;
}
.main-navigation {
  float: left;
}
