// Here you can easily change your sites's layout.
nav {
  margin-bottom: 3em !important;
  text-align: left;
  img {
    vertical-align: text-bottom;
    padding-right: 5px;
  }
}
body > header {
  margin-bottom: 1.5em !important;
  text-align: left;
}
.main-navigation {
  float: left;
}
